@mixin closeModal{
    position: absolute;
    right: 20px;
    top: 8px;
    cursor: pointer;
    div{
        position: absolute;
        background: #86a1b8;
        height: 20px;
        width: 3px;
    }
    div:nth-child(1){
        transform: rotate(45deg);
    }
    div:nth-child(2){
        transform: rotate(-45deg);
    }
}